body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.principal {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    flex-wrap: nowrap;
}

.card {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.imgStyle {
  width: 145px!important;
  height: 145px!important;
}

.menu {
    width: 20vw;
    height: 100vh;
    background-color: #a8c9ab;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contenedor {
    width: 80vw;
    max-width: 80%;
    height: 92vh;
    background-color: #EDF1D6;
}

.cardStyle {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.teamname {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.receivesnum {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.touchdownnum{
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.passyards {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.completions {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.wins {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.losses {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.winrateper {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.yardsnum {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.buscador {
    width: 80vw;
    max-width: 100%;
    height: 5vh;
    background-color: #a8c9ab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBuscador {
    background: whitesmoke;
    width: 50vw;
    max-width: 50%;
    height: 3vh;
    border-radius: 10px;
}

.iconoBuscar {
    color: white;
    margin-left: 10px;
    margin-top: 1px;
}

.contenido {
    width: 100vw;
    max-width: 100%;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: scroll;
    padding: 15px;
    background-color: #EDF1D6;
    color: black;
}

.button-74 {
    background-color: #fbeee0;
    border: 2px solid #40513B;
    border-radius: 30px;
    box-shadow: #40513B 4px 4px 0 0;
    color: #40513B;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-74:hover {
    background-color: #fff;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
  }